 

.outercard {
height: 232px;
gap: 6px;
  width: 180px;
  min-width: 180px; /* ensures flex children don't shrink */
  border-radius: 20px;
  overflow: hidden;
}
/* AlbumCard.module.css */
.card {
  width: 100%;        /* Let parent size it */
  max-width: 160px;   /* Optional: limit max width */
}


.cardContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chip {
  background-color: black !important;
  color: white !important;
  border-radius: 16px;
  font-weight: 2px;
  font-size: small;
 font-family: "Poppins", sans-serif;
 margin-top: -4px;
 margin-right: 2rem;
 margin-bottom: -30px;
}


.title {
font-family: "Poppins", sans-serif;
color: #fff;
margin-right: 50rem;
width: 105px;
 font-weight: 2px;
  font-size: small;
line-height: 100%;
letter-spacing: 0px;
} 
