
/* first css */
.searchWrapper {
  position: relative;
  width: 100%;
  max-width: 600px;  
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

}

.searchInput {
  width: 568px;
  height: 48px;
  top: 13px;
  left: 436px;
border-top-left-radius:  8px ;
border-bottom-left-radius:  8px ;
 
  background: #FFFFFF;
  border: 1px solid #121212;
  padding: 2px;
  border-right:none ;

}


 .searchIcon {
width: 20.000930786132812px;
margin-top: 7px;
left: 961px;
 border-top-right-radius:  8px ;
border-bottom-right-radius:  8px ;
  padding: 14px;
  border-left: none;
  border: 1px solid #121212;
  color: black;
  background-color: white;

} 
.searchInput::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.2px;
  padding-left: 20px;
  font-family: Poppins;

}

