.searchWrapper {
  position: relative;
  width: 100%;
  max-width: 400px; 
}

.searchInput {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem; 
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  fill: #888; 
  
}
