.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev {
  left: -12px;
}

.swiper-button-next {
  right: -12px;
}
