 .navbar {
  position: fixed;       
  top: 0;                
  left: 0;               
  width: 100%;   
  background-color: #34C94B;
  height: 74px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 






