.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #34c94b;
  height: 74px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 67px;
  height: 34px;
  top: 20px;
  padding-left: 32px;
  padding: 20px;
  cursor: pointer;
}

